<div class="panel panel-default">
  <div class="panel-body">
    <div class="h4 text-center">Admin Form</div>
    <div class="row pv-lg d-flex justify-content-center">
      <div *ngIf="message" class="alert alert-danger alert-dismissible fade show" role="alert">
        <p class="mb-0">{{ message }}</p>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
          (click)="handleCloseAlert()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal ng-pristine ng-valid w-75">
        <div class="form-group">
          <label class="control-label" for="inputContact1">Email</label>
          <div>
            <input
              class="form-control"
              id="inputContact1"
              type="email"
              [(ngModel)]="email"
              name="email"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="inputContact2">Password</label>
          <div>
            <input
              class="form-control"
              id="inputContact2"
              type="password"
              [(ngModel)]="password"
              name="password"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-end mt-4">
            <button
              *ngIf="!id"
              class="btn btn-success"
              (click)="handleCreate()"
            >
              Create
            </button>
            <button *ngIf="id" class="btn btn-success" (click)="handleUpdate()">
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
