<div>
  <h3>Owner List</h3>
</div>
<hr />
<div class="list-group">
  <div
    *ngFor="let owner of owners"
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <div class="d-flex w-100 justify-content-between align-items-center">
      <a [routerLink]="['/owners', owner.name]">
        <h5 class="mb-1">{{ owner.name }}</h5>
      </a>
      <div>
        <a class="btn btn-success mr-3" [routerLink]="['/edit', owner.name]"
          >Edit</a
        >
        <button class="btn btn-danger" (click)="handleDelete(owner.id)">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
