<div class="d-flex justify-content-between align-items-center">
  <h3>Owner List</h3>
  <a class="btn btn-primary" [routerLink]="['/create-owner']">Create Owner</a>
</div>
<table class="table table-hover mt-3">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let owner of owners">
      <td>
        <a [routerLink]="['/owners', owner.name]">{{ owner.name }}</a>
      </td>
      <td>{{ owner.email }}</td>
      <td>{{ owner.phone }}</td>
      <td>{{ owner.age }}</td>
    </tr>
  </tbody>
</table>
