<div class="bootstrap snippets bootdey mt-2">
  <div class="row ng-scope">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="pv">
            <img
              class="center-block img-responsive img-circle img-thumbnail thumb96"
              src="https://bootdey.com/img/Content/avatar/avatar1.png"
              alt="Contact"
              width="100%"
            />
          </div>
          <div class="my-3">
            <div class="list-group-item bg-light my-3">
              <h3 class="text-bold m-auto">{{ owner?.name }}</h3>
            </div>
            <div class="mv">
              <ul class="list-group">
                <li class="list-group-item bg-light font-weight-bold">Pets</li>
                <li *ngFor="let pet of owner?.pets" class="list-group-item">
                  <a [routerLink]="['/pets', pet.id]">
                    {{ pet.name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="">
            <button
              class="btn btn-danger w-100 font-weight-bold"
              (click)="onDelete()"
            >
              Delete Owner
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="owner" class="col-md-8">
      <app-owner-form [owner]="owner"></app-owner-form>
    </div>
  </div>
</div>
