<div class="panel panel-default">
  <div class="panel-body">
    <div class="h4 text-center">Owner Form</div>
    <div class="row pv-lg d-flex justify-content-center">
      <form class="form-horizontal ng-pristine ng-valid w-75">
        <div class="form-group">
          <label class="control-label" for="inputContact1">Name</label>
          <div>
            <input
              class="form-control"
              id="inputContact1"
              type="text"
              [(ngModel)]="name"
              name="name"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="inputContact2"
            >Email</label
          >
          <div>
            <input
              class="form-control"
              id="inputContact2"
              type="email"
              [(ngModel)]="email"
              name="email"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="inputContact3"
            >Phone</label
          >
          <div>
            <input
              class="form-control"
              id="inputContact3"
              type="text"
              [(ngModel)]="phone"
              name="phone"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="inputContact4">Age</label>
          <div>
            <input
              class="form-control"
              id="inputContact4"
              type="number"
              [(ngModel)]="age"
              name="age"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-end mt-4">
            <button *ngIf="owner" class="btn btn-info" (click)="handleUpdate()">
              Update
            </button>
            <button
              *ngIf="!owner"
              class="btn btn-success"
              (click)="handleCreate()"
            >
              Create
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
