<div class="bootstrap snippets bootdey mt-2">
  <div class="row ng-scope">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="pv-lg">
            <img
              class="center-block img-responsive img-circle img-thumbnail thumb96"
              [src]="pet?.imageId"
              alt="Contact"
              width="100%"
            />
          </div>
          <div class="list-group-item bg-light rounded my-3">
            <h3 class="m0 text-bold m-auto">{{ pet?.name }}</h3>
          </div>
          <div class="">
            <button class="btn btn-danger w-100 font-weight-bold" (click)="onDelete()">
              Delete Pet
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8" *ngIf="pet">
      <app-pet-form [pet]="pet"></app-pet-form>
    </div>
  </div>
</div>
